img {
	padding: 10px 10px 10px 10px;
}

#save:hover {
	background-color: limegreen;
	color: black;
}

#dSave:hover {
	background-color: red;
	color: black;
}
#waterLevel {
	border: solid black 1px;
}
#goodScore{
	position:relative;
	top: -110px;
	left: 80px;
}
#badScore{
	position:relative;
	top: -80px;
	left: -10px;
}
#dailyButton{
	font-size: 24pt;
	position:relative;
	top: -240px;
	left: 40px;
	width: 250px;
	height: 100px;
}
#waterLevelDisplay{
	position:relative;
	top: -320px;
	left: -292px;
	z-index: 100;
}
img {
	margin: 10 10 10 10;
	border: solid black 1px;
}
canvas {
	margin: 5 5 5 5;
	border: solid black 1px;
}

