.blue{
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 30px;
  margin-top: 30px;
  border-radius: 10px;
  height: 250px;
  color: white;
  
}

.grey{
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 30px;
  border-radius: 10px;
  height: 250px;
  color: white;
}

.divthree {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 30px;
  border-radius: 10px;
  height: 500px;
  transform: translate(12%, 12%);
  color: white;
}

body{
  margin: 0;
  padding: 0;
  background-image: url(../assets/reservoir.jpg);
  background-position: 50% 35%;
 
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
  background: #00d9ff; 
}

.container{
  margin-left: 6%;
  margin-right: 6%;
  width: 92%;
}


input[type="button"]{
  border: none;
  outline: none;
  height: 60px;
  width: 250px;
  background: #1c8adb;
  color: #fff;
  font-size: 26px;
  border-radius: 70px;
  margin-top: 0px;
}

input[type="button"]:hover {
  cursor: pointer;
  background: #39dc79;
  color: #000;
  
}


@media only screen and (max-device-width: 480px) {
  
  .blue{
    height: 340px;
    width: 820px;
    margin-left: 10px;
    margin-right: 10px;
  
  }
  
  .grey{
    height: 340px;
    width: 820px;
  
  }
  
  body{
  margin: 0;
  padding: 0;
  background: url(../assets/reservoir.jpg) no-repeat;
  
  background-size: cover;
  min-width: 600px;
  min-height: 1800px;
  background-position: 50% 55%;
  }

.container-fluid{
    height: 90px;
  }  
  
.navbar-brand{
  font-size: 44px;
  padding-top: 35px;
}
  
}

@media only screen and (min-device-width : 768px) and (max-device-width: 1024px) {
  
  .blue{
    height: 230px;
    width: 820px;
    margin-left: 16px;
  
  }
  
  .grey{
    height: 230px;
    width: 820px;
  }
  
  body{
    margin: 0;
    padding: 0;
    background: url(../assets/reservoir.jpg) no-repeat;

    background-size: cover;
    min-width: 600px;
    min-height: 1800px;
    background-position: 45% 45%;
  }
  
  body{
    min-width: 400px;
    
  }

.container-fluid {
    height: 70px;
  } 
  
.navbar-brand {
  font-size: 38px;
  padding-top: 25px;
}
  
}

