.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}


body{
  color: white;
  margin: 0;
  padding: 0;
  background-image: url(../images/reservoir.jpg);
/*  background-position: 50% 35%;*/
  background-size: 300%;
}

.nav-tabs {
  background-color:rgba(100,100,100,0.5);
}
.center-block {
  
  background-color: rgba(100,100,100,0.5);
}

