body {
  margin: 0;
  padding: 0;
  background: url(../assets/reservoir2.jpg);
  background-position: 50% 35%;
  min-width: 2560px;
  font-family: sans-serif;
}

.survey-box{
  width: 1000px;
  height: 600px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 40px;
  align-items: center;
}

.divone {
  position: relative; 
  margin-left: 40px
}

.survey-box input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  width: 250px;
  height: 25px;
  color: white;
  font-size: 16px;
}

.survey-box input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  width: 190px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 0px;
  margin-left: 700px
}

.survey-box input[type="submit"]:hover {
  border: none;
  outline: none;
  height: 40px;
  width: 190px;
  background: #39dc79;
  color: #000;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 0px;
  margin-left: 700px
}

/** phone screens */
@media only screen and (max-device-width: 480px) {
  
body {
  margin: 0;
  padding: 0;
  background: url(../assets/reservoir.jpg) no-repeat;
  
  background-size: cover;
  min-width: 600px;
  min-height: 1800px;
  background-position: 50% 55%;
  font-family: sans-serif;
}

.survey-box{
  width: 550px;
  height: 1200px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 40px;
  align-items: center;
}
  
.divone {
  position: relative; 
  margin-left: 17px;
  
}

.survey-box input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  width: 250px;
  height: 25px;
  color: white;
  font-size: 16px;
}

.survey-box input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  width: 190px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 220px
}

.survey-box input[type="submit"]:hover {
  border: none;
  outline: none;
  height: 40px;
  width: 190px;
  background: #39dc79;
  color: #000;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 220px
}
  
}

/** ipads and tablets */
@media only screen and (min-device-width : 768px) and (max-device-width: 1024px) {
  
  body {
  margin: 0;
  padding: 0;
  background: url(../assets/reservoir.jpg);
  background-position: 50% 35%;
  min-width: 1000px;
  min-height: 1000px;
  font-family: sans-serif;
}

.survey-box{
  width: 900px;
  height: 800px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 40px;
  padding-top: 90px;
  align-items: center;
}

.divone {
  position: relative; 
  margin-left: 40px
}

.survey-box input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  width: 250px;
  height: 25px;
  color: white;
  font-size: 16px;
}

.survey-box input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  width: 190px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 550px
}

.survey-box input[type="submit"]:hover {
  border: none;
  outline: none;
  height: 40px;
  width: 190px;
  background: #39dc79;
  color: #000;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 550px
}

}