
body {
  margin: 0;
  padding: 0;
  background: url(reservoir3.jpg);
  background-position: 50% 35%;
  min-width: 2560px;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.centerbox {
  width: 580px;
  height: 280px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 40px;
  padding-top: 60px;
  text-align: center;
  vertical-align: center;
  
}

.centerbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
}

#myTips {
  vertical-align: center;
}


/** phone screens */
@media only screen and (max-device-width: 480px) {
  
  body {
  margin: 0;
  padding: 0;
  background: url(reservoir3.jpg);
  background-size: cover;
  min-width: 600px;
  min-height: 1750px;
  font-family: sans-serif;
  
}
  
  .centerbox {
  width: 680px;
  height: 380px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 40px;
  padding-top: 60px;
  text-align: center;
  vertical-align: center;
}
  
  
.centerbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 34px;
}
  
}

/** ipads and tablets */
@media only screen and (min-device-width : 768px) and (max-device-width: 1024px) {
  
  body {
  margin: 0;
  padding: 0;
  background: url(reservoir3.jpg);
  background-size: cover;
  min-width: 1000px;
  min-height: 1400px;
  font-family: sans-serif;
  
}
  
  .centerbox {
  width: 680px;
  height: 380px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 40px;
  padding-top: 60px;
  text-align: center;
  vertical-align: center;
}
  
  
.centerbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 34px;
}
  
}