/** structure */

body {
  margin: 0;
  padding: 0;
  background: url(reservoir.jpg);
  background-position: 50% 35%;
  min-width: 2560px;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.login-box{
  width: 320px;
  height: 420px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px;
  align-items: center;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

h2{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 20px;
}

.login-box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.login-box input{
  width: 100%;
  margin-bottom: 20px;
  
}

.login-box input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}

.login-box input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #39dc79;
  color: #000;
  
}

.forgot {
  color: #fff;
  margin-left: 28px;
  text-align: center;
  font-size: 14px;
}

.forgot:hover{
  color: #39dc79;
  margin-left: 28px;
  text-align: center;
  font-size: 14px;
}

/** media queries */

@media only screen and (max-device-width: 480px) {
  
  body {
  margin: 0;
  padding: 0;
  background: url(reservoir.jpg) no-repeat;
  background-size: cover;
  min-width: 600px;
  min-height: 2200px;
  font-family: sans-serif;
}

.login-box{
   width: 70%;
  height: 70%;
}

.avatar{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: -180px;
  left: calc(50% - 150px);
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 52px;
  padding-top: 40px;
  padding-bottom: 160px;
}

h2{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 50px;
  border-top: 50px;
  margin-top: 50px;
}

.login-box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 42px;
}

.login-box input{
  width: 100%;
  margin-bottom: 40px;
  
}

.login-box input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 100px;
  color: white;
  font-size: 24px;
}

.login-box input[type="submit"]{
  border: none;
  outline: none;
  height: 150px;
  background: #1c8adb;
  color: #fff;
  font-size: 42px;
  border-radius: 70px;
  margin-top: 70px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #39dc79;
  color: #000;
  
}

.login-box a{
  text-decoration: none;
  font-size: 14px
  color: #fff;
}


.forgot {
  color: #fff;
  padding-left: 90px;
  text-align: center;
  font-size: 36px;
}

.forgot:hover{
  color: #39dc79;
  padding-left: 90px;
  text-align: center;
  font-size: 36px;
}
  
}


@media only screen and (min-device-width : 768px) and (max-device-width: 1024px) {
  body {
  margin: 0;
  padding: 0;
  background: url(reservoir.jpg) no-repeat;
  background-size: cover;
  min-width: 1000px;
  min-height: 1450px;
  font-family: sans-serif;
}

.login-box{
  width: 800px;
  height: 1000px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px;
}

.avatar{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: -150px;
  left: calc(50% - 150px);
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 80px;
}

h2{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 80px;
  padding-top: 40px;
}

.login-box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 40px;
}

.login-box input{
  width: 100%;
  margin-bottom: 40px;
  
}

.login-box input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 60px;
  color: white;
  font-size: 16px;
}

.login-box input[type="submit"]{
  border: none;
  outline: none;
  height: 120px;
  background: #1c8adb;
  color: #fff;
  font-size: 44px;
  font-weight: bold;
  border-radius: 60px;
  margin-top: 60px;
  
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #39dc79;
  color: #000;
  
}

.login-box a{
  text-decoration: none;
  font-size: 14px
  color: #fff;
}

.forgot {
  color: #fff;
  padding-left: 110px;
  text-align: center;
  font-size: 44px;
}

.forgot:hover{
  color: #39dc79;
  padding-left: 110px;
  text-align: center;
  font-size: 44px;
}
  
}

@media only screen and (max-device-width: 1200px) {
  
  
}